*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.dropDownArea{
    position: relative;
}
.dropDownContent{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 20px;
    transition: .5s;
}
.dropDown{
    transition: .5s !important;
}
.dropDown:hover .dropDownContent{
     opacity: 1;
     visibility: visible;
}